<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.iotv.app">

    <!--Permission to use the internet to interact with services-->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!--Permissions for recording-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <!--Feature to use camera, but not necessary for limited functionality-->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>

    <application
        android:name=".IotvApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CameraActivity">
        </activity>
        <activity android:name=".LoginActivity">
        </activity>
        <activity android:name=".MyVideosActivity">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4b7b97384889bb0454d04c0092e637476844024e"/>
    </application>

</manifest>